h1{
    text-align: left;
    color:#fff;
    background-color: black;
}
span.aqua {
    color:aqua;
}
h2{
    color: #fff;
    background-color: blueviolet;
    text-align: center;
}
h3{
    color:blueviolet;
    background-color:aquamarine;
    text-align: right;
}